<div class="flex h-screen">

  <!--Sidebar-->
  <div class="w-12  lg:w-48 flex  flex-col flex-shrink-0 bg-white ">
    <div class="flex h-16 flex-wrap justify-center items-center lg:pr-4">
      <app-logo></app-logo>
    </div>
    <div class="flex flex-col h-5/6">
      <app-sidebar class="flex flex-grow flex-col"></app-sidebar>
    </div>
  </div>

<!--Main-->
  <div class="flex flex-grow flex-col  bg-gray-100">
    <div class="flex flex-wrap overflow-auto overscroll-auto md:overscroll-contain lg:overscroll-none">
      <main class="flex flex-grow flex-col">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
